services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - ./infra/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - ./infra/mosquitto/data:/mosquitto/data
      - ./infra/mosquitto/log:/mosquitto/log

  backend:
      build:
        context: ./backend
      container_name: locker-backend
      restart: unless-stopped
      depends_on:
        - mosquitto
      environment:
        # El backend se conecta al broker por nombre de servicio dentro de Docker
        - BROKER_HOST=mosquitto
        - BROKER_PORT=1883
      ports:
        - "8000:8000"
      volumes:
        # Persistimos la DB en tu repo (o en carpeta db/)
        - ./backend/locker.db:/app/locker.db